/* Sidebar.module.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 317px;
    height: 100%;
    background-color: white;
    visibility: hidden;        /* ← Скрыт */
    z-index: 100;
    padding: 20px 0;
    box-sizing: border-box;
}

.sidebar.open {
    visibility: visible;       /* ← Показываем */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;        /* ← Скрыт */
    z-index: 99;
}

.background.open {
    visibility: visible;       /* ← Показываем */
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 80px 40px 40px 40px;
}

.nav__link {
    transition: .2s;
    text-decoration: none;
    color: #232323;
    font-weight: 600;
    font-size: 22px;
}

.nav__link:hover {
    color: #58ACFF;
}

.active {
    color: #0059B2;
    text-decoration: underline;
}

.close {
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
}

.close img {
    width: 24px;
    height: 24px;
}