.friendMessage {
  display: flex;
  flex-direction: column;
}
.person{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.friendImageAndText {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.friendImageAndText img {
width: 60px;
aspect-ratio: 1;
}

.friendText {
  padding: 10px;
  background-color: #f5f7fb;
  border-radius: 8px;
  box-shadow: 2px 4px 4px #6b6b6b24;
}

.friendText:after {

}

.friendName {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.friendMessageText {

}

.friendTime {
    font-size: 10px;
    font-weight: 600;
    display: inline-block;
}
